.ipynb_checkpoints
*.DS_Store
packages/cdl.egg-info/*
packages/docs/_build/*
packages/docs/auto_examples/*
packages/docs/cdl.*
packages/.pytest_cache
packages/tests/__pycache__
packages/cdl/__pycache__
*.pyc
.DS_Store

