When creating your tutorial, it is important to include what the user should have installed so that they can follow along with your program. Not only should this include the version of the package your tutorial is on but also the tools you used throughout the tutorial. 

For example:

PPCA>=0.0.2
scikit-learn>=0.18.1
pandas>=0.18.0
seaborn>=0.8.1
matplotlib>=1.5.1
scipy>=0.17.1
numpy>=1.10.4

